<template>
  <svg class="w-24" viewBox="0 0 48 16" xmlns="http://www.w3.org/2000/svg">
    <!-- <rect fill="gray" width="100%" height="100%"></rect> -->
    <text x="4" y="14" font-size="16" font-family="monospace">
      Hela
    </text>
    <text x="42" y="6" font-size="24" fill="navy">
      .
    </text>
  </svg>
</template>
