<template>
  <main class="pt-16 text-gray-800">
    <div class="max-w-sm mx-auto">
      <nav class="flex justify-between mb-8 items-end pb-2 pr-2">
        <Logo></Logo>
        <div v-if="state.matches('calculator')" class="flex items-center">
          <label class="pr-2 font-bold text-xs" for="sending-from"
            >Sending from:</label
          >
          <select
            v-if="state.matches('calculator')"
            name="sendingfrom"
            id="sending-from"
            class="border py-1"
            :value="getter('countrySendingFrom')"
            @change="
              (e) => {
                setter('countrySendingFrom', e.target.value);
              }
            "
          >
            <option v-for="nation in getCountryNames()" :key="nation">
              {{ nation }}
            </option>
          </select>
        </div>
        <div
          v-else-if="state.matches('loading')"
          class="h-8 w-12 bg-gray-100"
        ></div>
        <div v-else>
          {{ countrySendingFrom.name }}
        </div>
      </nav>
      <div v-if="state.matches('loading')" class="text-center">Loading ...</div>
      <div class="pb-4 px-2" v-if="state.matches('calculator')">
        <div class="flex gap-4">
          <div class="form-group">
            <label
              class="pr-2 text-xs text-gray-600 font-bold"
              for="receiver-country"
              >Send to</label
            >
            <select
              name="receiver-country"
              id="receiver-country"
              class="border block py-1 rounded-sm"
              :value="getter('countrySendingTo')"
              @change="(e) => sendToSetter(e.target.value)"
            >
              <option disabled value="">Select country</option>
              <option v-for="nation in getCountryNames()" :key="nation">
                {{ nation }}
              </option>
            </select>
            <div
              v-if="errorMessage('countrySendingTo')"
              class="text-xs text-red-600"
            >
              {{ errorMessage("countrySendingTo") }}
            </div>
          </div>
        </div>
        <div class="pt-6">
          <h2 class="text-xl">Calculator</h2>

          <div class="form-group">
            <label class="pr-2 text-xs text-gray-600 font-bold" for="to-send"
              >Amount you send</label
            >
            <div class="flex">
              <div class="bg-gray-100 px-2 pt-2">
                {{ countrySendingFrom.currency.code }}
              </div>
              <input
                type="number"
                v-model="toSend"
                @wheel.prevent
                id="to-send"
                :min="countrySendingFrom.min"
                name="to-send"
                class="block w-auto py-1 px-4 text-xl border font-bold"
                placeholder="0"
              />
            </div>
            <div
              v-if="errorMessage('amountToSend')"
              class="text-xs text-red-600"
            >
              {{ errorMessage("amountToSend") }}
            </div>
          </div>

          <div class="form-group pt-4">
            <label class="pr-2 text-xs text-gray-600 font-bold" for="to-receive"
              >Amount they receive</label
            >
            <div class="flex">
              <div class="bg-gray-100 px-2 pt-2">
                {{ countrySendingTo.currency.code }}
              </div>
              <input
                type="number"
                v-model="toReceive"
                @wheel.prevent
                id="to-receive"
                name="to-receive"
                class="block w-auto py-1 px-4 text-xl border font-bold"
                placeholder="0"
              />
            </div>
          </div>

          <div class="mt-8 py-2">
            <div class="flex justify-between pb-2 border-b">
              <label for="charges"
                >Charges({{ countrySendingFrom.currency.code }})</label
              >
              <div class="font-mono">
                {{ countrySendingFrom.charges.toFixed(2) }}
              </div>
            </div>
            <div class="flex justify-between font-bold pt-2">
              <label for="charges"
                >Total to pay({{ countrySendingFrom.currency.code }})</label
              >
              <div class="font-mono">{{ getter("total").toFixed(2) }}</div>
            </div>
          </div>
        </div>
        <button
          type="button"
          class="mt-8 px-4 py-1 uppercase border text-blue-800 font-bold"
          @click="send('SEND')"
        >
          continue
        </button>
      </div>
      <div class="pb-4 px-2" v-if="state.matches('receiversPhone')">
        <h2 class="text-xl pb-4">Receiver information</h2>

        <div class="form-group">
          <label class="pr-2 text-xs text-gray-600 font-bold" for="receiver-net"
            >Receiver's network</label
          >
          <select
            name="receiver-net"
            id="receiver-net"
            class="border block py-1 rounded-sm"
            :value="getter('receiversNetwork')"
            @change="
              (e) => send('CHANGE_RECEIVER_NET', { value: e.target.value })
            "
          >
            <option disabled value="" selected>Select network</option>
            <template v-if="getter('countrySendingTo')">
              <option
                v-for="network in getNetworksByCountry(
                  state.context.countrySendingTo
                )"
                :key="network.code"
              >
                {{ network.name }}
              </option>
            </template>
          </select>
          <div
            v-if="
              errorMessage('receiversNetwork') &&
              state.matches('receiversPhone.invalid')
            "
            class="text-xs text-red-600"
          >
            {{ errorMessage("receiversNetwork") }}
          </div>
        </div>

        <div class="form-group pt-4">
          <label
            class="pr-2 text-xs text-gray-600 font-bold"
            for="receiver-number"
            >Receiver's phone number</label
          >
          <div class="flex">
            <div class="bg-gray-100 px-2 pt-2">
              {{ countrySendingTo.callingCode }}
            </div>
            <input
              type="text"
              id="receiver-number"
              :value="getter('receiversMobile')"
              name="receiver-number"
              class="block w-auto py-1 px-4 text-xl border font-bold"
              placeholder="738923892"
              @change="(e) => send('CHANGE_NUMBER', { value: e.target.value })"
            />
          </div>
          <div
            v-if="
              errorMessage('receiversMobile') &&
              state.matches('receiversPhone.invalid')
            "
            class="text-xs text-red-600"
          >
            {{ errorMessage("receiversMobile") }}
          </div>
        </div>

        <button
          type="button"
          class="mt-8 px-4 py-1 uppercase border text-blue-800 font-bold"
          @click="send('SUBMIT')"
        >
          continue
        </button>
      </div>
      <div class="pb-4 px-2" v-if="state.matches('confirming')">
        <h2 class="text-xl">Confirm details</h2>
        <ul class="mt-4 py-2">
          <li class="flex justify-between items-center font-bold pb-2 border-b">
            <div class="font-bold">Reciever</div>
            <button
              @click="send('CHANGE_RECEIVER')"
              class="
                text-blue-700
                font-bold
                text-sm
                py-1
                px-2
                hover:bg-gray-100
              "
            >
              change
            </button>
          </li>
          <li class="flex justify-between py-2">
            <label for="charges">Receiver's country</label>
            <div class="font-mono">{{ countrySendingTo.name }}</div>
          </li>
          <li class="flex justify-between py-2">
            <label for="charges">Receiver's network </label>
            <div class="font-mono">{{ getter("receiversNetwork") }}</div>
          </li>
          <li class="flex justify-between py-2">
            <label for="charges">Receiver's phone</label>
            <div class="font-mono">
              {{ countrySendingTo.callingCode }} {{ getter("receiversMobile") }}
            </div>
          </li>
          <li
            class="
              flex
              mt-6
              justify-between
              items-center
              font-bold
              pb-2
              border-b
            "
          >
            <div class="font-bold">Transaction</div>
            <button
              @click="send('CHANGE_TRANSACTION')"
              class="
                text-blue-700
                font-bold
                py-1
                text-sm
                px-2
                hover:bg-gray-100
              "
            >
              change
            </button>
          </li>

          <li class="flex justify-between py-2">
            <label for="charges"
              >Amount they receive ({{ countrySendingTo.currency.code }})</label
            >
            <div class="font-mono">{{ getter("amountReceived") }}</div>
          </li>
          <li class="flex justify-between py-2">
            <label for="charges"
              >Charges ({{ countrySendingFrom.currency.code }})</label
            >
            <div class="font-mono">{{ countrySendingFrom.charges }}</div>
          </li>
          <li
            class="flex justify-between py-2 border-t bg-gray-100 bg-opacity-50"
          >
            <label for="charges"
              >Total you will pay ({{
                countrySendingFrom.currency.code
              }})</label
            >
            <div class="font-mono">{{ getter("total") }}</div>
          </li>
        </ul>
        <button
          type="button"
          class="mt-8 px-4 py-1 uppercase border text-blue-800 font-bold"
          @click="send('CONFIRM')"
        >
          confirm
        </button>
      </div>
      <div class="pb-4 px-2" v-if="state.matches('paymentInfo')">
        <h2 class="text-xl pb-4">Payment information</h2>
        <div class="form-group">
          <label class="pr-2 text-xs text-gray-600 font-bold" for="receiver-net"
            >Method of payment</label
          >
          <select
            name="sender-net"
            id="sender-net"
            class="border block py-1 rounded-sm"
            :value="getter('sendersNetwork')"
            @change="(e) => send('CHANGE_NET', { value: e.target.value })"
          >
            <option disabled value="" selected>Select network</option>
            <option
              v-for="network in getNetworksByCountry(
                state.context.countrySendingFrom
              )"
              :key="network.code"
            >
              {{ network.name }}
            </option>
          </select>
          <div
            v-if="errorMessage('sendersNetwork')"
            class="text-xs text-red-600"
          >
            {{ errorMessage("sendersNetwork") }}
          </div>
        </div>
        <div class="form-group pt-4">
          <label
            class="pr-2 text-xs text-gray-600 font-bold"
            for="sender-number"
            >Enter your phone number</label
          >
          <div class="flex">
            <div class="bg-gray-100 px-2 pt-2">
              {{ countrySendingFrom.callingCode }}
            </div>
            <input
              type="text"
              id="sender-number"
              name="sendersMobile"
              :value="getter('sendersMobile')"
              class="block w-auto py-1 px-4 text-xl border font-bold"
              placeholder="738923892"
              @change="(e) => send('CHANGE_NUMBER', { value: e.target.value })"
            />
          </div>
          <div
            v-if="
              errorMessage('sendersMobile') &&
              state.matches('paymentInfo.invalid')
            "
            class="text-xs text-red-600"
          >
            {{ errorMessage("sendersMobile") }}
          </div>
        </div>

        <button
          type="button"
          class="mt-8 px-4 py-1 uppercase border text-blue-800 font-bold"
          @click="send('SUBMIT')"
        >
          pay
        </button>
      </div>
      <div class="pb-4 px-2" v-if="state.matches('paying')">
        <div v-if="state.matches('paying.instructions')">
          <h2 class="text-xl">Make payment</h2>
          <p class="text-gray-700">
            Follow these instruction to complete the transaction
          </p>
          <ol class="pt-4 list-decimal list-inside">
            <li
              v-for="(step, index) in getNetwork(getter('sendersNetwork'))
                .instructions"
              :key="index"
            >
              {{ step }}
            </li>
            <li>
              Enter
              <strong>
                {{ getNetwork(getter("sendersNetwork")).paybill }}</strong
              >
              as business number
            </li>
            <li>
              Enter <strong>{{ getter("receiversMobile") }}</strong> as account
              number
            </li>
            <li>
              Enter <strong>{{ getter("total") }}</strong> as amount
            </li>
            <li>Enter your pin and confirm</li>
          </ol>
        </div>
        <div v-if="state.matches('paying.received')">
          <h2 class="text-xl pb-4">We have received your payment</h2>
          <p class="text-gray-700">
            {{ getter("receiversMobile") }} will receive the money within 5
            minutes
          </p>
        </div>
        <div v-if="state.matches('paying.sent')">
          <h2 class="text-xl pb-4">Your transaction is complete</h2>
          <p class="text-gray-700">
            {{countrySendingTo.callingCode}}{{ getter("receiversMobile") }} has just received the
            {{ getter("amountReceived") }}
            {{ countrySendingTo.currency.name }} you sent them.
          </p>
          <p class="text-gray-700">We thank you for doing business with us.</p>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import Logo from "./components/Logo.vue";

import { defineComponent, computed } from "@vue/runtime-core";

import { useMachine } from "@xstate/vue";
import { clientMachine } from "./machines";
import {
  getCountryNames,
  getNetworksByCountry,
  getCurrencyCode,
  getCountry,
  getNetwork,
} from "./utils/supported";
import exchange from "./utils/fx";

export default defineComponent({
  components: { Logo },
  setup(props) {
    const { state, send } = useMachine(clientMachine, { devTools: true });

    function getter(key) {
      return computed(() => state.value.context[key]).value;
    }
    function setter(key, value, event = "CHANGE") {
      if (key === "countrySendingFrom" || key === "countrySendingTo") {
        reset();
      }
      send(event, { key, value });
    }
    function sendToSetter(value) {
      setter("countrySendingTo", value);
      setter("receiversNetwork", "");
    }
    function setSendToDefault() {
      if (!getter("countrySendingTo"))
        sendToSetter(getter("countrySendingFrom"));
    }

    const countrySendingFrom = computed(() =>
      getCountry(getter("countrySendingFrom"))
    );

    const countrySendingTo = computed(() => {
      if (!getter("countrySendingTo")) {
        return countrySendingFrom.value;
      } else return getCountry(getter("countrySendingTo"));
    });

    let converted = computed(function () {
      let exchanged = { value: 0, rate: 1 };
      if (state.value.matches("calculator")) {
        let amount = getter("amountToSend") || 0;
        let from = countrySendingFrom.value.currency.code;
        let to = countrySendingTo.value.currency.code;
        exchanged = exchange(amount, from, to);
      }
      return exchanged;
    });

    let inForeign = computed(() => Math.floor(converted.value.value));
    let inLocal = computed(() => {
      let amount = Number(getter("amountReceived"));
      let rate = converted.value.rate;
      return Math.ceil(amount / rate);
    });

    const toSend = computed({
      get() {
        return getter("amountToSend");
      },
      set(value) {
        setter("amountToSend", value);
        setter("amountReceived", inForeign.value);
        setter("total", Number(value) + countrySendingFrom.value.charges);
      },
    });

    const toReceive = computed({
      get() {
        return getter("amountReceived");
      },
      set(value) {
        setter("amountReceived", value);
        setter("amountToSend", inLocal.value);
        setter("total", inLocal.value + countrySendingFrom.value.charges);
      },
    });

    function reset() {
      setter("amountReceived", "");
      setter("amountToSend", "");
    }

    function errorMessage(key) {
      return computed(() => {
        // if (!state.value.matches("calculator.invalid")) return;
        let errors = getter("errors");
        if (!errors) return;
        return errors[key];
      }).value;
    }

    return {
      state,
      send,
      getCountryNames,
      getNetworksByCountry,
      getCurrencyCode,
      setter,
      getter,
      setSendToDefault,
      sendToSetter,
      inLocal,
      inForeign,
      countrySendingFrom,
      countrySendingTo,
      toSend,
      toReceive,
      errorMessage,
      getNetwork,
    };
  },
});
</script>

<style lang="postcss">
svg {
  @apply fill-current;
}
</style>
